*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 600px) {
  .app{
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 25px;
  }
  .app .header{
    text-align: left;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .formM{
    display: grid;
  }
  .formM .inin .input1{
  width: 100%;
  margin-bottom: 4px;
  padding: 8px;
  border-radius: 32px;
  border: transparent;
  color: white;
  background: linear-gradient(to right, skyblue, rgba(49, 49, 250, 0.631));
  }
  .formM .btnAdd .btn1{
    width: 100%;
    padding: 15px;
    background: linear-gradient(to left, skyblue, rgba(49, 49, 250, 0.631));
    border: 0.5px solid;
    border-radius: 32px;
    font-size: 14px;
    font-weight: 505;
    margin-top: 10px;
    transition: ease-in 3ms;
    
  }
  .formM .btnAdd .btn1:hover{
    cursor: pointer;
    background: rgb(81, 191, 235);
  }
  .itemList{
    text-align: center;
    line-height: 1.8;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Equal offset for both x and y axes to surround the border */
    list-style-type: none;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    width: 100%;
    margin-top: 15px;
    }
  .itemList .itList{
    text-align: left;
    width: 330px;
    padding: 2px;
  }
  .itemList .delete{
    background: rgb(63, 111, 254);
    border: 1px solid;
    border-radius: 6px;
    padding: 3px;
    margin-right: 5px;
    margin-bottom: 3px;
    transition: 3ms;
  }
  .itemList .delete:hover{
    cursor: pointer;
    background: rgb(44, 247, 44);
  }
  .app{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    background: rgb(255, 255, 255);
    border-radius: 32px;
    padding-bottom: 10px;
    
  }
}

@media (min-width: 768px) {
  .app{
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 25px;
  }
  .app .header{
    text-align: left;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .formM{
    display: grid;
  }
  .formM .inin .input1{
  width: 100%;
  margin-bottom: 4px;
  padding: 8px;
  border-radius: 32px;
  border: transparent;
  color: white;
  background: linear-gradient(to right, skyblue, rgba(49, 49, 250, 0.631));
  }
  .formM .btnAdd .btn1{
    width: 100%;
    padding: 15px;
    background: linear-gradient(to left, skyblue, rgba(49, 49, 250, 0.631));
    border: 0.5px solid;
    border-radius: 32px;
    font-size: 14px;
    font-weight: 505;
    margin-top: 10px;
    transition: ease-in 3ms;
    
  }
  .formM .btnAdd .btn1:hover{
    cursor: pointer;
    background: rgb(81, 191, 235);
  }
  .itemList{
    text-align: center;
    line-height: 1.8;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Equal offset for both x and y axes to surround the border */
    list-style-type: none;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    width: 100%;
    margin-top: 15px;
    }
  .itemList .itList{
    text-align: left;
    width: 330px;
    padding: 2px;
  }
  .itemList .delete{
    background: rgb(63, 111, 254);
    border: 1px solid;
    border-radius: 6px;
    padding: 3px;
    margin-right: 5px;
    margin-bottom: 3px;
    transition: 3ms;
  }
  .itemList .delete:hover{
    cursor: pointer;
    background: rgb(44, 247, 44);
  }
  .app{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    background: rgb(255, 255, 255);
    border-radius: 32px;
    padding-bottom: 10px;
    
  }
}
